*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-padding-top: 82px;
}

body {
  position: relative;
  font-family: "Montserrat", sans-serif;
  background-color: #444;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

.underline {
  margin: 0 auto 40px;
  width: 60px;
  height: 4px;
  background-color: #039dff;
}

.main-text {
  color: #039dff;
}

.shadow-bg {
  background-color: rgba(0, 0, 0, 0.8);
}

nav {
  text-transform: uppercase;
  transition: background-color 0.6s;
  z-index: 1;
}
nav .navbar-brand {
  color: #fff;
  font-weight: bold;
}
nav .navbar-brand:hover {
  color: #039dff;
}
nav .nav-link {
  color: #fff;
}
nav .nav-link:hover {
  color: #039dff;
}
nav .fa-bars {
  padding: 10px;
  color: #fff;
}

header {
  color: #fff;
}
header h1 {
  font-size: 30px;
  text-transform: uppercase;
}
header p {
  font-size: 14px;
}
header .hero-img {
  position: relative;
  height: 100vh;
  background-image: url("../img/playstation-g93ab29e77_640.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}
header .hero-shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.726);
  z-index: -3;
}
header .hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  text-align: center;
  z-index: -5;
}
header .btn-outline-light {
  margin-top: 15px;
  text-transform: uppercase;
}
header .fa-chevron-down {
  position: absolute;
  font-size: 30px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
}

.aboutus i {
  margin-top: 20px;
  font-size: 30px;
}
.aboutus .aboutus-card-title {
  font-size: 18px;
  text-transform: uppercase;
}
.aboutus .aboutus-card-text {
  font-size: 14px;
}
.aboutus .aboutus-hover {
  transition: color 0.3s;
}
.aboutus .aboutus-hover:hover {
  color: #039dff;
}

.aboutus-hero {
  position: relative;
  background-image: url(../img/technology-ge0fa8e0f9_640.jpg);
  background-position: center;
  background-size: cover;
  color: #ddd;
  z-index: 0;
}
.aboutus-hero .aboutus-shadow {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -5;
}
.aboutus-hero .aboutus-hero-item {
  margin: 10px 0;
}
.aboutus-hero .aboutus-hero-item i {
  font-size: 36px;
}
.aboutus-hero .aboutus-hero-item .aboutus-hero-title {
  font-size: 24px;
}

@media (min-width: 375px) {
  header h1 {
    font-size: 36px;
  }
  header p {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  header h1 {
    font-size: 42px;
  }
  header p {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  html {
    scroll-padding-top: 72px;
  }
  .aboutus-hero {
    background-image: url(../img/technology-gd3b29dc44_1280.jpg);
  }
}
@media (min-width: 1200px) {
  header .hero-img {
    background-image: url("../img/playstation-g610b14b4f_1920.jpg");
  }
}/*# sourceMappingURL=main.css.map */